*{
	margin:0;
	padding:0;
	font-size: 13px;
	font-family: ;  
}

.transp{
	/*background-color: ; 
  	padding: 2rem 3rem;
  	text-align: center;
  	color: white;
 	border: px solid ;
 	border-radius: 15px 15px;
  	box-shadow: 0px 0px 25px #222;
  	backdrop-filter: blur(10px);*/
  	height: 100%;
  	width: 100%;
  	background-image:  url(../IMG/38962365130.png);
  	background-position: center;
  	background-size: cover;
  	position: absolute;
}

.form-box{
	background: whit;
	width: 370px;
	height: 455px;
	position: relative;
	margin: 6% auto;
	background: ;
	padding: 5px;
	border-radius: 10px;
	box-shadow: 0px 0px 30px black;
	backdrop-filter: blur(20px);
	overflow: hidden;
}

.button-box{
	width: 240px;
	margin: 30px auto;
	position: relative;
	box-shadow: 0 0 5px #1c2331;
	border-radius: 30px;
}

.toggle-btn{
	padding:10px 22px;
	cursor: pointer;
	background: transparent;
	border: 0px;
	outline: none;
	position: relative;
}


#elegir{
	top: 0;
	left: 0;
	position: absolute;
	width: 120px;
	height: 100%;
	background:green;
	border-radius: 30px;
	transition: 0.8s;
}

.input-group{
	top: 180px;
	position: absolute;
	width: 280px;
	transition: 0.8s;
}

.input-field{ 
	width: 100%;
	padding: 10px 0;
	margin: 5px 0;
	border-left: 0;
	border-top: 0;
	border-right: 0;
	border-bottom: 2px solid green;
	outline: none;
	background: transparent;  
}

.submit-btn{
	width: 85%;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	margin: auto;
	background:green;
	border: 0px;
	outline: none;
	border-radius: 30px;
	margin-top: 20px; 
}

.check-box{
	margin: 30px 10px 30px 0;
}

span{
	color: #757575;
	font-size: 12px;
	bottom: 64px;
	position: absolute;
}

#login-form{
	left: 50px;
}

#register-form{
	left: 450px;
}